@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-placeholder: rgba(0, 0, 0, 0.2);
  --color-pink-main: #DC1FFF;
  --color-black-main: #EEEEEE;
  --color-white: #FFFFFF;
  --color-purple-main: #5A26C0;
  --color-dark-purple: #0A0820;
  --color-slate-blue: #3B378B;
  --color-midnight: #14123A;
  --color-lapis-blue: #233269;
  --color-secondary: #6C7DBA;
  --color-indigo-deep: #1E0A4D;
--gradient-animated: linear-gradient(
  90deg,
  #6f0bad 0%,
  #5A26C0 25%,
  #DC1FFF 50%,
  #5A26C0 75%,
  #0A0820 100%
);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-monsterrat: var(--font-monsterrat);
  --font-josefinSans: var(--font-josefinSans);
  --color-placeholder: rgba(0, 0, 0, 0.2);
  --color-pink-main: #DC1FFF;
  --color-black-main: #EEEEEE;
  --color-white: #FFFFFF;
  --color-purple-main: #5A26C0;
  --color-dark-purple: #0A0820;
  --color-slate-blue: #3B378B;
  --color-midnight: #14123A;
  --color-lapis-blue: #233269;
  --color-secondary: #6C7DBA;
  --gradient-purple-pink: linear-gradient(90deg, #7226FF 0%, #DB1FFF 100%);
  --gradient-blue-purple: linear-gradient(90deg, #3B378B 0%, #7226FF 100%);
  --gradient-lightblue-white-pink: linear-gradient(90deg, #87F5F5 0%, #FFFFFF 50%, #F042FF 100%);
  --gradient-blue-basic: linear-gradient(25deg, #0A0820 0%, #233269 52%, #0A0820 86%);
  --gradient-purple-light: linear-gradient(25deg, #0A0820, #2A2286 100%);
  --gradient-dark-purple :linear-gradient(
  90deg,
  #7C3AED 0%,
  #9923DE 27%,
  #DC1FFF 56%,
  #0A0820 100%
);

}


/* Custom Utilities */
@utility bg-gradient-purple-pink {
  background: var(--gradient-purple-pink);
}

@utility bg-gradient-blue-purple {
  background: var(--gradient-blue-purple);
}

@utility bg-gradient-lightblue-white-pink {
  background: var(--gradient-lightblue-white-pink);
}
@utility bg-gradient-purple-light {
  background: var(--gradient-purple-light);
}
@utility bg-gradient-blue-basic {
  background: var(--gradient-blue-basic);
}
@utility bg-gradient-dark-purple {
  background: var(--gradient-dark-purple);
}
@utility text-gradient-purple-pink {
  background: var(--gradient-purple-pink);
}
@utility text-gradient-purple-pink {
  background: var(--gradient-purple-pink);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@utility text-gradient-blue-purple {
  background: var(--gradient-blue-purple);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@utility text-gradient-lightblue-white-pink {
  background: var(--gradient-lightblue-white-pink);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@utility text-gradient-purple-light {
  background: var(--gradient-purple-light);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@utility text-gradient-blue-basic {
  background: var(--gradient-blue-basic);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@utility text-gradient-animated {
  background: var(--gradient-animated);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientShift 8s linear infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.fade-bottom {
  -webkit-mask-image: linear-gradient(to bottom, #000 100%, transparent 80%);
  mask-image: linear-gradient(to bottom, #000 90%, transparent 100%);
}